/* ======================
   RESET
====================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======================
   BASE
====================== */
body {
  font-family: "Poppins", system-ui, sans-serif;
  min-height: 100vh;
  color: #ffffff;

  background-image: url("../images/login.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ======================
   NAVBAR
====================== */
header {
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  z-index: 1;
}

nav {
  max-width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: auto;
}

.logo img {
  height: 96px;
  width: auto;
}

.logo-text {
  font-weight: 700;
  font-size: 40px;
  background: linear-gradient(135deg, #80c0ff, #698bab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #e0e7ff;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ffffff;
}

/* ======================
   MAIN CONTAINER
====================== */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

/* ======================
   CARD
====================== */
.card {
  background: linear-gradient(rgba(136, 197, 255, 0.1), rgba(35, 65, 94, 0.1));
  backdrop-filter: blur(10px);
  width: 100%;
  max-width: 520px;
  padding: 48px 40px;
  border-radius: 24px;

  text-align: center;
}

.card h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 15px;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 32px;
  font-weight: 500;
}

/* ======================
   INPUT
====================== */
.input {
  width: 100%;
  padding: 16px 18px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 15px;
  margin-bottom: 22px;
}

/* ======================
   BUTTON
====================== */
.btn-primary {
  width: 70%;
  padding: 16px;
  border-radius: 30px;
  border: none;
  background: #1e3a5f;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.btn-primary:hover {
  background: #162c49;
}

/* ======================
   FOOTER TEXT
====================== */
.footer-text {
  margin-top: 24px;
  font-size: 14px;
}

.footer-text a {
  color: #ffffff;
  font-weight: 600;
  text-decoration: underline;
}
